@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&display=swap');
@keyframes jump {
    from {
        padding-bottom: 0px;
        padding-top: 10px;
    }

    to {
        padding-bottom: 10px;
        padding-top: 0px;
    }

}

@keyframes fade-in {
    from {
        opacity: 0;
        font-size: 0;
    }
    to {
        opacity: 1;
        font-size: 1em;
    }
}

@keyframes  fade-out{
    from {
        opacity: 1;
        font-size: 1em;
    }
    to {
        opacity: 0;
        font-size: 1em;
    }
}


*{
    font-family: 'Lexend', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;


}

body{
    margin: 0;
}


h1{
    margin: 2vh 2vw;
    font-family: 'League Spartan', sans-serif;
    color: white;
    overflow-y: hidden;
    overflow-x: fragments;
    display: flex;
    flex-wrap: wrap;
    font-size: 400%;
}


h2{
    margin-left: 2vw ;
    font-family: 'League Spartan', sans-serif;

}
h3{
    font-family: 'League Spartan', sans-serif;
}

p{
    font-size: 1.1em;
}

a{
    color: black;
    text-decoration: none;
}
#titleBox{
    background-color: black;
    display: flex;
    height: 0;
    width: 23em;
    flex-wrap: wrap;
    overflow-y: hidden;
    position: absolute;
    padding-bottom: 23em;
}


#profile{
    height: 22em;
    border-radius: 1000px;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}



#bannerContent{
    margin-top: 7em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#banner h1{
    width: 100%;
}
#myself{
    width: 50%;
}

.links{
    display: flex;

}
.links img{
    height: 7vh;
    margin: 2vw;
    transition: 0.4s;
}
.links img:hover{
    transform: scale(1.2);
}

#firstNav p{
    width: 100%;
    text-align: center;
    transition: 0.4s;

}

#firstNav{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height : 15vh;
    transition: 0.4s;
    display: flex;
    flex-direction: column;

}
#firstNav:hover p{
    transform: scale(1.1);
}


#down{
    height: 4vh;
    width: auto;
    margin-left:auto;
    margin-right: auto;
    animation-duration: 1s;
    animation-name: jump;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

hr{
    height: 3vh;
    width: 50vw;
    background-color: black;
    border: none;
    position: relative;
}



#skills h2{
    width: 100%;
}
.skillSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10vh;
    min-height: 50vh;
    height: 100vh;
    overflow-y: hidden;
}
.skillGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 40%;
    align-items: center;

}


#skills h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 7vw;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    background-color: #232323;
    color: white;
    margin: 0;

}
.skillGallery img{
    height: 5.5em;
    margin: 3vh 5vw;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    width: 40%;
    color: black;
    background-color: #FDF6EC;

}
.myStory{
    margin-top: 15vh;
    margin-bottom: 40vh;
}
.storyBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.storyline{
    background-color: black;
    width: 1vw;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
}

.storyDate{
    margin-right: auto;
    margin-left: auto;
    transition: 1s;
    width: 30vw;
    text-align: center;
}


.storyDescription{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    transition: all 1s;
    font-size: 0;
    opacity: 0;


}
.storyDate:hover{
    height: 100%;
}
.storyDescription img{
    height: 8em;
    margin-right: 10vw;

}
.storyDescription p{
    width: 40vw;
    margin-left: 10vw;
}

.storyDate:hover + .storyDescription{
    font-size: 1em;
    opacity: 1;
    height: auto;
}

.storyDescription:hover{
    font-size: 1em;
    opacity: 1;
    height: auto;
}



footer{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #FDF6EC;
}
